/* Configure person table */
table.person-list {
  border-collapse: collapse;
  border-spacing: 0px;
  background: #ddd;
  padding: 25px;

  border: 2px solid #ddd;
  margin: 0 auto;

  text-transform: uppercase;
  text-align: center;

  font-size: 14px;
}

.person-list-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  margin: 0 auto;
  width: 80%;
}

.person-list-wrapper table.person-list {
  align-self: stretch;
}

.search-bar {
  display: flex;
  border-collapse: collapse;
  float: left;
  margin: 0 auto;
}

.align-left {
  margin-left: auto;
}

.clickable_row {
  border: 1px solid #00b8a5;
}

.person-list tr:first-child {
  background: #ebfffd;
}
.person-list tr:nth-child(odd) {
  background: #f8f8f8;
}

.person-list tr:nth-child(even) {
  background: #e5e5e5;
}

.person-list table tr:not(:last-child),
th,
td {
  border-spacing: 0;
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

/* Configure action buttons displayed on list */

.action-buttons {
  text-decoration: none;
  font-size: 24px;
}

div.action-buttons a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #222222;
}

/* Configure checkbox */
